name: Test

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test.yml"
      - "python/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "python/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  run:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]
        torch-version: ["2.7.*", "2.8.*", "2.9.*"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install specified PyTorch version
        run: uv add "torch==${{ matrix.torch-version }}"

      - name: Run tests
        run: uv run pytest tests
